
    <div class="col-lg-12 col-sm-12 col-md-12 text-center" style="margin-top: 150px;margin-bottom: 20px;">
      <img src="images/main.jpeg" class=" hero img-circle" /> <br/>
      <h1 style="font-family: cursive;"><i class="fa fa-user-o" aria-hidden="true"></i>KRISHNA</h1>
    </div>
    <br/>
    <div class="container" >
      <form>
    <div class="form-group" >
      <label class="control-label col-sm-2" for="pwd"></label>
      <div class="col-sm-10" style="margin-bottom: 20px;"><i class="fa fa-key" aria-hidden="true"></i>
        <input type="password" class="form-control" id="pwd" placeholder="password" name="pwd" ng-model="user.paword" >
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <table>
          <thead>
          <th><button type="submit"class="btn btn-success" ng-click="heloUser()">Submit</button></th>
          <th><a href="#!/signup"><button type="submit"class="btn btn-danger">SignUp</button></a></th>
          <th><a href="#!/forgetpass"><button type="submit"class="btn btn-warning">Forget Pass</button></a></th>
          </thead>
        </table>
      </div>
    </div>
      </form>
    </div>
