
<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- js -->
  <!-- start-smoth-scrolling -->
</head>
<body class="cbp-spmenu-push">
<!-- header -->
<header>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll wow fadeInLeft" id="ss"  href="#!/home">Krishna K <i class="fa fa-bolt fa-1x" aria-hidden="true"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" id="ass" >
          <li >
            <a class=" wow fadeInDown" href="#!/home">Home</a>
          </li>
          <li >
            <a class=" wow fadeInDown" href="#!/contact">ContactUs</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/services">Services</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/resume">Resume</a>
          </li>
          <li>
            <a class=" wow fadeInDown"  href="#!/andriodapp">APP</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/angular">Angular</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="krishna">
  <div class="header-bg" style="padding-bottom: 0px;background: linear-gradient(90deg,#00b9e4 0,#34b233);" >

    <div class="header-top">
      <div class="container">


        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="banner-info">
      <!-- container -->
      <div class="container">
        <div class="col-md-5 slid">
          <!--- banner Slider starts Here --->
          <script src="js/responsiveslides.min.js"></script>
          <!----//End-slider-script---->
          <div  id="top" class="callbacks_container">
            <ul class="rslides" id="slider4">
              <li>
                <div class="mobile-device wow bounceIn" style="margin-top: 0px;">
                  <img src="https://s10.postimg.org/artw57j7t/mobile1.png" alt="" />
                </div>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-7 banner-info-left">
          <h2 style="margin-top: 164px;">Are you looking for High Quality Website<center style="width: 500px;"> Templates?</center> <br/>This android app is the <span>Easiest</span> way to connect Krishna through online..</h2>
          <p> We are a group of cyberspace experts, intermediate learners, and starters. We broadly work on most of the cyberspace task such as cyberspace security, web and desktop application development, social media optimization, online branding and mainly on cyber security training.</p>
          <div class="banner-buttons">
            <div class="banner-button">
              <a href="#"><img class="grow" src="https://s7.postimg.org/j87j1djwr/image.png" alt="" /></a>
            </div>
            <div class="banner-button green-button">
              <a href="http://www.mediafire.com/file/p1pkwpnfcb4lbdc/app-debug.apk" target="_blank"><img class="grow" src="https://s14.postimg.org/y0gpeonj5/image.png" alt="" /></a>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <!-- //container -->
    </div>
  </div>
  <!-- //header -->
  <!-- banner-bottom -->
  <div id="services" class="banner-bottom">
    <!-- container -->
    <div class="container">
      <div class="banner-text">
        <h3 class="wow zoomIn grow" data-wow-delay="0.5s"><i class="fa fa-server" aria-hidden="true"></i>Services</h3>
        <p>We are a enthusiastic web designing company where we specialize in simple, effective and user- centric design solutions. Our range of services start from designing new responsive websites , maintain customer's current website, designing logos , banners , creative icons . We also design bi-fold tri-fold brochures as per the requirement of the customer.</p>
      </div>
      <div class="banner-bottom-grids">
        <div class="col-md-4 banner-bottom-grid">
          <div class="services-icon wow zoomIn grow" data-wow-delay="0.5s">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
          </div>
          <h4>RESPONSIVE DESIGNS</h4>
          <p>Allow your visitors to wherever they want to access your blog in which devices they want to use like Desktops, Laptops, Tablets and Mobiles. Responsive Templates optimized for your blog comfortable with all devices. Give the best experience to your visitors and customers by using your site. </p>
        </div>
        <div class="col-md-4 banner-bottom-grid red">
          <div class="services-icon wow zoomIn grow" data-wow-delay="0.7s">
            <span class="glyphicon glyphicon-th-large glyphicon-phone" aria-hidden="true"></span>
          </div>
          <h4>BLOGGER SUPPORT FORM</h4>
          <p>Do you have a problem? Don’t worry!  Post your any questions in our Support Forum and get help, ideas, and suggestions from experts. Please post your questions immediately if you need help to use blogger templates</p>
        </div>
        <div class="col-md-4 banner-bottom-grid green">
          <div class="services-icon wow zoomIn grow" data-wow-delay="0.9s">
            <span class="glyphicon glyphicon-th-large glyphicon-thumbs-up" aria-hidden="true"></span>
          </div>
          <h4>REGULAR AND FAST UPDATE</h4>
          <p>You can always get newly one. We receive every day so many new Blogspot templates from 5+ more template authors. So we publish new templates immediately with impressive features. You can get new Blogspot templates in future by subscribing here.</p>     </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //banner-bottom -->
  <!-- about -->
  <div id="about" class="about" style="border-radius: 21px;padding-top: 10px;padding-bottom: 10px;background: linear-gradient(-17deg,#00b9e4 0,#2526a9 70%,#80379b);">
    <!-- container -->
    <div class="container">
      <div class="about-info">
        <h3><i class="fa fa-user" aria-hidden="true"></i>About Us</h3>
        <p class="caption" style="margin-top: 20px;">We are new to this industry, but not to the Technology. Yes, We started our DisignWorld mid 2014 and are in the process of widening it up to a higher scale with respect to number of Customers. Our Transformation from employees to Entrepreneur can be a critical process, but we bank on our customers to make us stable in this industry.</p>
        <p class="a-text" style="margin-top: 0px;">We specialized in simple effective and user-centric design solutions. Our range of services start from designing new responsive websites, maintain customers current website, designing logos, banners, creative icons, We also design bi-fold and tri-fold brochures as per the requirement of the customer.
        </p>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //about -->
  <!-- features -->
  <div id="features" class="features">
    <!-- container -->
    <div class="container">
      <div class="features-info">
        <h3>Features</h3>
        <p>We designed web templates using HTML5, CSS3, Bootstrap3, AngularJS and React. We are specialized in writing clean code and deliver to the costumer.We Distribute Most Professional, Most Beautiful and High Quality Web Templates from Designers to Users.</p>
      </div>
      <div class="features-grids">
        <div class="col-md-7 features-right" style="margin-top: 100px;">
          <h4>Different types of features available here :
          </h4>
          <div class="features-right-grids">
            <div class="features-right-grid right-top" style="margin-top: 0px;">
              <div class="design-left"> </div>
              <div class="design-right">
                <h5>Usability</h5>
                <p>Some broad goals of usability are the presentation of information and choices in a clear and concise way, a lack of ambiguity and the placement of important items in appropriate areas.</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="features-right-grid right-middle-top" style="margin-top: 0px;">
              <div class="design-left easy"> </div>
              <div class="design-right">
                <h5>functionality</h5>
                <p> functionality of a website is the interactive part of the site - that which allows the visitor to respond in some way, thus turning the visitor into a customer.</p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="features-right-grid right-middle" style="margin-top: 0px;">
              <div class="design-left developer"> </div>
              <div class="design-right">
                <h5>Navigation</h5>
                <p>Web navigation refers to the process of navigating a network of information resources in the World Wide Web, which is organized as hypertext or hypermedia. </p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="features-right-grid right-bottom" style="margin-top: 0px;">
              <div class="design-left fully"> </div>
              <div class="design-right">
                <h5>visual design</h5>
                <p>Visual design focuses on the aesthetics of a site and its related materials by strategically implementing images, colors, fonts, and other elements. A successful visual design does not take away from the content on the page or function.</p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 slid">
          <!--- banner Slider starts Here --->

          <!----//End-slider-script---->
          <div  id="top" class="callbacks_container">
            <ul class="rslides" id="slider3">
              <li>
                <div class="mobile-device features-device wow bounceIn">
                  <img  src="https://s22.postimg.org/qdapbff8h/mobile.png" alt="" />
                </div>
              </li>

            </ul>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //features -->
  <!-- plans -->
</div>

</body>
</html>
