<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
   <link rel="stylesheet" href="../styles/Contact.css"/>
</head>
<body>
<header>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll wow fadeInLeft" id="ss"  href="#!/home">Krishna K <i class="fa fa-bolt fa-1x" aria-hidden="true"></i></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" id="ass" >
          <li >
            <a class=" wow fadeInDown" href="#!/home">Home</a>
          </li>
          <li >
            <a class=" wow fadeInDown" href="#!/contact">ContactUs</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/services">Services</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/resume">Resume</a>
          </li>
          <li>
            <a class=" wow fadeInDown"  href="#!/andriodapp">APP</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/angular">Angular</a>
          </li>
          <li>
            <a class=" wow fadeInDown" href="#!/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container" id="wb_design_page">
  <div class="row">
    <div class="mivi" style="text-align:left;">
      <div class="col-sm-6 col-lg-6 col-md-6" id="hakk">
        <h1>Krishna K</h1><br/>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;&nbsp;Hyderabad,<br>
          <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;India, <br>
          <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;+15105162628,<br>
          <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;krishna.kondoju88@gmail.com</p> <br>
        <div class="sharan">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30455.30510723724!2d78.41824961335186!3d17.415955684311957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9728e7c230a5%3A0xbf59752f5f7caa0!2sBanjara+Hills%2C+Hyderabad%2C+Telangana%2C+India!5e0!3m2!1sen!2sus!4v1496433055576" width="600" height="450" frameborder="0" style="border:0;width: 392px;height: 301px;" allowfullscreen"="" class="wow slideInUp" data-wow-delay="0.5s"></iframe>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6" style="padding-top: 50px;padding-left: 50px;">
      <p ><i>Feel free to talk to our online representative at any time. Please use our website or one of the below instant messaging programs.Please be patient while waiting for response. (24/7 Support!)</i></p>
      <h1 class="jakka">Contact Form</h1>
      <div id="id=" contact-form""="">
      <!-- Contact form -->
      <form action="http://eepurl.com/cRiXJP" style="padding-left:23px;">
        <div class="row">
          <div class="field_section_container_full">
            <input name="name" id="name" required="" type="text" class="field" placeholder="Name">
          </div>
          <div class="field_section_container_full">
            <input name="email" id="email" required="" type="text" class="field" placeholder="Email &#9993;">
          </div>
          <div class="field_section_container_full">
            <input name="number" id="number" required="" type="text" class="field" placeholder="Contact Number &#9743;">
          </div><br/>
          <div class="field_section_container_full">
            <textarea class="field_area" id="comments" placeholder="Your message " name="comments" style="z-index: auto;position: relative;line-height: 32px;font-size: 14px;border:none;background: url(https://s2.postimg.org/aa1ro4tbt/35_contact-line1.png)bottom repeat-x;width: 354px;"></textarea>
          </div>
          <div class="field_section_container_full">
            <select name="drpLocation" id="select_dropdown" class="field" style="background: url(https://s23.postimg.org/lumydxbdn/35_contact-line.png) bottom repeat-x; border:none; margin-top:10px; font-size:14px; box-shadow:none; padding-left:0; color:#545454;">
              <option value="Select Location">Select Location</option>
              <option value="Cochin">Hyderabad</option>
              <option value="Trivandrum">Nalgonda</option>
              <option value="Middle East">Middle East</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="USA">USA</option>
              <option value="Other North America and South America">Other North America and South America</option>
              <option value="Other Europe">Other Europe</option>
              <option value="Africa">Africa</option>
              <option value="India and Other Asia">India and Other Asia</option>
              <option value="Australia and Newzealand">Australia and Newzealand</option>
            </select>
          </div>
        </div>
        <br/>
        <div class="form-group">
          <button type="submit" name="submit" id="submit" class="btn btn-outline-white btn-big">Send message</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="../JS/wow.min.js"></script>

<script>
  new WOW().init();
</script>
</body>
</html>
