<html>
  <title>Resume</title>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
  <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
  <body class="w3-light-grey">
  <!--
   Author: Krishna Kondoju
   Author URL: http://krishnakondoju.blogspot.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
  -->
  <header>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll wow fadeInLeft" id="ss"  href="#!/home">Krishna K <i class="fa fa-bolt fa-1x" aria-hidden="true"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="ass" >
            <li >
              <a class=" wow fadeInDown" href="#!/home">Home</a>
            </li>
            <li >
              <a class=" wow fadeInDown" href="#!/contact">ContactUs</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/services">Services</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/resume">Resume</a>
            </li>
            <li>
              <a class=" wow fadeInDown"  href="#!/andriodapp">APP</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/angular">Angular</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img alt="Avatar" src="https://s30.postimg.org/hcrn58dup/Whats_App_Image_2017-03-03_at_4.40.14_PM.jpg" style="width: 100%;" />
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>
                Krishna Kondoju</h2><br/>
            </div>
          </div>
          <div class="w3-container">
            <br/>

            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Designer<br />

            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>New Jersey<br />

            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>krishna.kondoju88@gmail.com<br />

            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+15105162628<br />

            <hr />

            <div class="w3-large">
              <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></div>
            HTML5<br />

            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 90%;">
                90%</div>
            </div>
            css3<br />

            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 80%;">
                <div class="w3-center w3-text-white">
                  80%</div>
              </div>
            </div>
            Bootstrap<br />

            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 80%;">
                <div class="w3-center w3-text-white">
                  80%</div>
              </div>
            </div>
            AngularJS<br />

            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 75%;">
                75%</div>
            </div>
            ReactJS<br />

            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 50%;">
                50%</div>
            </div>
            <br />

            <div class="w3-large w3-text-theme">
              <b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></div>
            English<br />

            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height: 24px; width: 100%;">
              </div>
            </div>
            Telugu<br />

            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height: 24px; width: 55%;">
              </div>
            </div>
            Hindi<br />

            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height: 24px; width: 25%;">
              </div>
            </div>
            <br />
          </div>
        </div>
        <br />
        <!-- End Left Column -->
      </div>
      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Front End UI Developer/New Jersey immunization system </b></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
            The project involved redesigning a New Jersey Immunization Information System website, by changing the look and feel to the user, using recent MVC frameworks like AngularJS, Bootstrap and with interactive plugins and widgets for UI..<br />

            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>UI Developer / Experian Consumer Services</b></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2015- May 2016</h6>
            Developed dynamic web pages using HTML5, CSS3, jQuery, ReactJS, Bootstrap, Less, CSS3 and Ajax.
            Produced content pages with CSS3 layout and style markup presentations and used JavaScript methods and properties.
            Participated in making Responsive Web Designs using Media Queries.
            Used a concept called Virtual DOM in ReactJS to create in-memory data structure cache, enumerate the resulting differences, and then update the browser’s displayed DOM efficiently.<br />

            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>UI Designer /Idea Crew</b></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2014 - Mar 2015</h6>
            Involved in the Analysis, System Study and Designing of the project.
            Worked on functionality behind the user experience and interface for product and website. worked with UI/UX wireframes in the translation of design wireframes to actual code(UI).
            Worked on developing CSS Media Queries in order to make the application compatible with tablets (Landscape and Portrait), desktops and mobile phones.
            Used SASS pre-compiler for CSS stylesheets.<br />
            <br />
          </div>
        </div>
        <div class="w3-container w3-card-2 w3-white">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>https://krishnakondoju.blogspot.com</b></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
            Web Development! All I need to know in one place<br />

            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b></b></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2015</h6>
            Master Degree<br />

            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>JNTU</b></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>2006-2010</h6>
            Bachelor Degree<br />
            <br />
          </div>
        </div>
        <!-- End Right Column -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Page Container -->
  </div>
  </body>
  </html>

