
  <html>
  <head>

    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css"/>
   <link rel="stylesheet" href="../styles/Contact.css"/>
  </head>

  <style>

  </style>
  <body>
  <header>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll wow fadeInLeft" id="ss"  href="#!/home">Krishna K <i class="fa fa-bolt fa-1x" aria-hidden="true"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="ass" >
            <li >
              <a class=" wow fadeInDown" href="#!/home">Home</a>
            </li>
            <li >
              <a class=" wow fadeInDown" href="#!/contact">ContactUs</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/services">Services</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/resume">Resume</a>
            </li>
            <li>
              <a class=" wow fadeInDown"  href="#!/andriodapp">APP</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/angular">Angular</a>
            </li>
            <li>
              <a class=" wow fadeInDown" href="#!/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Marketing Icons Section -->

  <div class='container text-center'>

    <h1 style='font-size: 2.6em;'><b><font style= "color:rgba(148, 196, 45, 1);">OUR SERVICES</font></b></h1>


    <p style='color: #999;'>Krishna is the leading web designer, developer. We offer professional solutions with premium quality for your web designing, web development,<br/> digital marketing and other IT related issues.</p>
  </div>

  <div class="container" style="margin-top:40px;">
    <div class="row wow fadeInDown" data-wow-delay="0.5s">
      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <div class="panel panel-default hax text-center">

          <div class="panel-heading">

            <h4><center><font size="6px"> Web Design</font> </center></h4>

          </div>
          <div class="panel-body">
            <figure class="service-icon"><i class="fa fa-tint fa-5x wow zoomIn" id="akon" data-wow-delay="0.3s"></i></figure><br/><br/>
            <p> The appearance of your website make strong impression on the image of your company. A good web design agency with creative web designers could make it happen...  </p>
            <div class="text-center" style="display: inline-block;"><a href="https://krishnakondoju.blogspot.com/p/webdesign.html" style="text-decoration:none;" target="_blank">
              <button style="display:block; width: 153px;border-radius: 32px;">Learn more</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <div class="panel panel-default hax text-center">

          <div class="panel-heading">
            <h4><center><font size="6px"> Web Development</font> </center></h4>
          </div>
          <div class="panel-body">
            <figure class="service-icon"><i class="fa fa-laptop fa-5x wow zoomIn" id="akon" data-wow-delay="0.6s"></i></figure><br/><br/>
            <p>Web applications are constantly gaining acceptance over desktop applications. Web development refer the term for the work concerned in developing...  </p>
            <div class="text-center" style="display: inline-block;"><a href="https://krishnakondoju.blogspot.com/p/blog-page.html" style="text-decoration:none;" target="_blank">
              <button style="display:block; width: 153px;border-radius: 32px;">Learn more</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <div class="panel panel-default hax text-center">

          <div class="panel-heading">
            <h4><center><font size="6px"> Online Branding</font> </center></h4>
          </div>
          <div class="panel-body">
            <figure class="service-icon"><i class="fa fa-lightbulb-o fa-5x wow zoomIn" id="akon" data-wow-delay="0.9s"></i></figure><br/><br/>
            <p>As a leading web designing and development, Krishna offers online branding service, that can help grow companies through branding on web...  </p>
            <div class="text-center" style="display: inline-block;"><a href="https://krishnakondoju.blogspot.com/p/online-branding.html"
                                                                       style="text-decoration:none;" target="_blank">
              <button style="display:block; width: 153px;border-radius: 32px;">Learn more</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp" data-wow-delay="0.10s">
      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <div class="panel panel-default hax text-center">

          <div class="panel-heading">
            <h4><center><font size="6px"> SEO</font> </center></h4>
          </div>
          <div class="panel-body">
            <figure class="service-icon"><i class="fa fa-search fa-5x wow zoomIn" data-wow-delay="0.9s" id="akon"></i></figure><br/><br/>
            <p>Internet is a large window through which any one can expose their business to the world. SEO is the process of improving your website ranking in search engine results.  </p>
            <div class="text-center" style="display: inline-block;"><a href="https://krishnakondoju.blogspot.com/p/seo.html"
                                                                       style="text-decoration:none;" target="_blank">
              <button style="display:block; width: 153px;border-radius: 32px;">Learn more</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <div class="panel panel-default hax text-center">

          <div class="panel-heading">
            <h4><center><font size="6px"> Web Hosting</font> </center></h4>
          </div>
          <div class="panel-body">
            <figure class="service-icon"><i class="fa fa-stack-exchange fa-5x wow zoomIn" data-wow-delay="0.6s" id="akon"></i></figure><br/><br/>
            <p>If you are looking for a secure and affordable web hosting company in AP, team Krishna is here to help you. Get best in class website hosting with us...
            </p>
            <div class="text-center" style="display: inline-block;"><a href="https://krishnakondoju.blogspot.com/p/title.html"
                                                                       style="text-decoration:none;" target="_blank">
              <button style="display:block; width: 153px;border-radius: 32px;">Learn more</button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4 ">
        <div class="panel panel-default hax text-center">

          <div class="panel-heading">
            <h4><center><font size="6px"> E- commerce</font> </center></h4>
          </div>
          <div class="panel-body">
            <figure class="service-icon"><i class="fa fa-shopping-cart fa-5x wow zoomIn" data-wow-delay="0.3s" id="akon"></i></figure><br/><br/>
            <p>As online marketing is gaining huge importance in todays business world, several businesses are now looking at eCommerce solutions as the best way to keep a constant watch of the... </p>
            <div class="text-center" style="display: inline-block;"><a href="https://krishnakondoju.blogspot.com/p/ecomerce.html"
                                                                       style="text-decoration:none;" target="_blank">
              <button style="display:block; width: 153px;border-radius: 32px;">Learn more</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Marketing Icons Section -->
</div>


</body>
</html>





